version: "2"
services:
  app:
    container_name: crypto-explorer
    restart: always
    build: .
    ports:
      - "80:12401"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
