doctype html
html(ng-app="AlloyEX")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title {{ctrl.config.name}}
    style(type="text/css") [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    link(rel='stylesheet', href='/css/alloyex.min.css')
  body
    div(ng-cloak, ng-controller='menu_controller as ctrl')
      .menu-helper.hidden-xs(ng-hide="ctrl.menuclicked")
        .arrow
        span Start here
      dt-hamburger-menu(ng-click="ctrl.menuOpen()")
    div(ng-cloak, ng-controller='search_controller as ctrl')
      .btn.btn-circle.btn-default.search-button(ng-click="ctrl.search()")
        i.fa.fa-search.fa-2x(ng-hide="ctrl.searchclicked")
        i.fa.fa-times-circle.fa-2x(ng-show="ctrl.searchclicked")
      .search-overlay(ng-show="ctrl.searchclicked")
        .content-wrap
          input.form-control(ng-change="ctrl.searchFieldChange()" ng-model="ctrl.searchvalue")
          p.search-result(ng-if="ctrl.searchresults.type")
            span.label.label-success.pull-left {{ctrl.searchresults.type}}
            span.label.label-success.pull-right
              a(ng-if="ctrl.searchresults.type === 'valid transaction'" ng-href="/#/tx/{{ctrl.searchresults.data.txDetails.hash}}" ng-click="ctrl.search()") view tx
              a(ng-if="ctrl.searchresults.type === 'valid block'" ng-href="/#/block/{{ctrl.searchresults.data.hash}}" ng-click="ctrl.search()") view block
            code.black-code.pull-right {{ctrl.searchresults.data.hash || ctrl.searchresults.data.txDetails.hash}} @ height {{ctrl.searchresults.data.height || ctrl.searchresults.data.block.height}}
    block content
    div(particles style="z-index: -1;")
    script(src="/js/alloyex.min.js")
    
