<div class="container-fluid" ng-cloak="ng-cloak" ng-controller="home_controller as ctrl" style="max-width: 1280px">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Last block<span>{{ctrl.laststats.lastblockheight}}</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Hashrate<span>{{ctrl.deepstats.instanths | hashratefilter}}</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Avg Hashrate<span>{{ctrl.deepstats.averagehs | hashratefilter}}</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Avg Difficulty<span>{{ctrl.deepstats.averagedifficulty | difficultyfilter }}</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Reward<span>{{ctrl.laststats.reward}} {{ctrl.laststats.symbol}}</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Supply<span>{{ctrl.laststats.supply}} {{ctrl.laststats.symbol}}</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Emission<span>{{ctrl.laststats.emission}}%</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Blocktime<span>{{ctrl.deepstats.averagebts}}s</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body slim">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Price<span>{{ctrl.laststats.lastprice}} BTC</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body slim">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Market Cap<span>{{ctrl.laststats.lastprice * (ctrl.laststats.supply) | number}} BTC</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body slim">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">24h Volume<span>{{ctrl.laststats.tradedvolume | number:4}} BTC</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body slim">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">24h High<span>{{ctrl.laststats.pricehigh}} BTC</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-11">
      <div class="panel panel-default tab-panel"><span class="text-diff tab-helper">
          <p>Live Difficulty Chart</p></span>
        <div class="panel-body chart-wrapper">
          <canvas id="difficultychart" height="210"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xs-1 hidden-xs difftendency">
      <div class="panel panel-default tab-panel text-center text-diff" style="height:240px"><span class="text-default tab-helper" ng-show="ctrl.deepstats.averagedifficulty &gt; ctrl.laststats.currentdifficulty" style="color: #8BC34A">-</span><span class="text-default tab-helper" ng-show="ctrl.deepstats.averagedifficulty <= ctrl.laststats.currentdifficulty" style="color: #F44336">+</span></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="panel panel-default tab-panel"><span class="text-diff text-default tab-helper">
        <p>Avg Hashrate Chart</p></span>
        <div class="panel-body chart-wrapper">
          <canvas id="hashchart" height="210"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="panel panel-default tab-panel"><span class="text-diff text-default tab-helper">
        <p>Avg Difficulty Chart</p></span>
        <div class="panel-body chart-wrapper">
          <canvas id="avgdiffchart" height="210"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr class="text-center">
                <th class="th-hash"><span>Block hash</span></th>
                <th class="th-height"><span>Height</span></th>
                <th class="th-txs"><span>Tx Count</span></th>
                <th class="size hidden-xs"><span>Size</span></th>
                <th class="time"><span>Found</span></th>
              </tr>
            </thead>
            <tbody ng-cloak="ng-cloak">
              <tr ng-repeat="block in ctrl.lastblocks">
                <td class="text-center"><a ng-href="/#/block/{{block.hash}}"><code class="black-code hidden-xs">{{ block.hash }}</code><code ng-click="'/#/block/' + block.hash" class="black-code visible-xs">{{ block.hash | hashFilter}}</code></a></td>
                <td class="text-center">{{ block.height || 0 }}</td>
                <td class="text-center">{{ block.tx_count || 0 }}</td>
                <td class="text-center hidden-xs">{{ block.cumul_size | bytesfilter }}</td>
                <td class="text-right">{{ block.timestamp * 1000 | timeagofilter }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="text-center hidden">
          <button class="btn btn-default" type="button">Load More</button>
        </p><br/>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body slim">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Pools Hashrate<span>{{ctrl.laststats.poolshashrate | hashratefilter}}</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body slim">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Last Diff<span>{{ctrl.laststats.currentdifficulty | difficultyfilter}}</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body slim">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Mempool<span>{{ctrl.laststats.tx_pool_size}} Txs</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel">
        <div class="panel-body slim">
          <div class="row">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="javascript:void(0);">Total<span>{{ctrl.laststats.tx_count}} Txs</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel"><span class="text-diff text-default tab-helper">
        <p>Avg TX Fee</p></span>
        <div class="panel-body chart-wrapper" style="max-height:135px">
          <canvas id="avgtxfeechart" height="105"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="panel panel-default tab-panel"><span class="text-diff text-default tab-helper">
        <p>Avg TX Size</p></span>
        <div class="panel-body chart-wrapper" style="max-height:135px">
          <canvas id="avgtxsizechart" height="105"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
